<div class="row my-5 py-5 w-100">
    <div class="col mt-5 p-5">
        <div class="col-9 mx-auto rounded-5 shadow bg-body py-3">
            <h1 class="text-center">Registrate</h1>
            <div class="col-8 mx-auto mt-5 pb-3">
                <form [formGroup]="formRegister" (ngSubmit)="register()">
                    <input type="text" name="username" placeholder="Usuario" class="form-control" formControlName="username">
                    <span class="text-danger ms-1" *ngIf="usuarioUsado">
                        Usuario ya usado
                      </span>
                      <span class="text-danger ms-1" *ngIf="this.formRegister.get('username')?.errors?.['required'] && mostrarErrores">
                        Usuario obligatorio
                      </span>
                    <input type="mail" name="mail" placeholder="Correo" class="form-control mt-4" formControlName="mail">
                    <span class="text-danger ms-1" *ngIf="correoUsado">
                        Correo ya usado
                      </span>
                      <span class="text-danger ms-1" *ngIf="this.formRegister.get('mail')?.errors?.['required'] && mostrarErrores">
                        Correo obligatorio
                      </span>
                      <span class="text-danger ms-1" *ngIf="this.formRegister.get('mail')?.errors?.['email'] && mostrarErrores">
                        Correo no valido
                      </span>
                    <input type="password" name="password" placeholder="Contraseña" class="form-control mt-4" formControlName="password">
                    <span class="text-danger ms-1" *ngIf="this.formRegister.get('password')?.errors?.['required'] && mostrarErrores">
                        Contraseña obligatoria
                      </span>
                    <span class="text-danger ms-1" *ngIf="this.formRegister.get('password')?.errors?.['minlength'] && mostrarErrores">
                        La contraseña debe tener minimo 6 caracteres
                      </span>
                    <select class="form-select mt-4" name="platform" formControlName="platform">
                        <option value="5">Seleccione una plataforma</option>
                        <option value="0">PS4</option>
                        <option value="1">XBOX</option>
                        <option value="2">ORIGIN</option>
                      </select>
                      <span class="text-danger ms-1" *ngIf="this.formRegister.get('platform')?.errors?.['plataformaSeleccionada'] && mostrarErrores">
                        Plataforma obligatoria
                      </span>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success mt-4">
                            <span *ngIf="!loading">Crear</span>
                            <div class="spinner-border text-light" role="status" *ngIf="loading">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col mt-5 border-start border-success p-4 d-flex align-items-center">
        <div class="col-9 mx-auto rounded-5 shadow bg-body py-3">
            <h1 class="text-center">Inicia sesión</h1>
            <div class="col-8 mx-auto mt-5 pb-3">
                <form [formGroup]="formLogin" (ngSubmit)="Login()" >
                    <input type="text" name="username" placeholder="Usuario" class="form-control" formControlName="username">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control mt-4" formControlName="password">
                    <div class="d-flex justify-content-end">
                        <button [disabled]="!formLogin.valid || loading"  type="submit" class="btn btn-success mt-4">
                            <span *ngIf="!loading">Únete</span>
                            <div class="spinner-border text-light" role="status" *ngIf="loading">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>