<div class="col-9 mx-auto mt-5 py-5">
    <h1 class="fw-bold mb-4">Guía de uso</h1>
    <p class="ms-1 fs-5">Como habrás podido ver, la movilidad en la página está bastante limitada si no estás registrado, por lo que a continuación te explicaremos como crear tu nueva cuenta o iniciar sesión.</p>

    <h4 class="fw-bold text-success mt-4">Crear cuenta o iniciar sesión</h4>
    <p class="ms-1 fs-5">Tanto si tienes o no cuenta en la web, deberás acceder a la página de unirse, dando clic al botón de “Únete” que se encuentra arriba a la derecha de tu pantalla.
        <br><br>Si lo que quieres es registrarte, deberás introducir un usuario y un correo que no estén registrados aún, una contraseña y la plataforma en la que compites.
        <br>Para iniciar sesión es más sencillo, introduce tu nombre de usuario con el que te registraste y tu contraseña. Si todo fue correctamente te deberá redirigir a la pantalla de inicio.
    </p>

    <h4 class="fw-bold text-success mt-4">Editar perfil</h4>
    <p class="ms-1 fs-5">
        Una vez iniciada sesión, si quieres editar tu información personal accede a la sección de editar perfil, dándole clic en el menú si estas en un dispositivo móvil o arriba a la derecha si te encuentras en un ordenador. Verás un recuadro con información ya almacenada sobre ti como tu nombre o tu correo, y otra que puedes añadir como tu logo, tu segunda posición o tu twitter personal.
    </p>

    <h4 class="fw-bold text-success mt-4">Equipo</h4>
    <p class="ms-1 fs-5">
        Si lo que quieres es crear un equipo accede a la misma sección del apartado anterior, editar perfil. Allí verás debajo de tu información personal un recuadro con un formulario con el que podrás crear tu equipo introduciendo únicamente el nombre.
        <br><br>En esta misma sección, podrás acudir posteriormente para editar aspectos como el logo de tu equipo, su twitter oficial, o manejar a sus miembros. En caso de no ser capitán, podrás también salir de este.
    </p>

    <h4 class="fw-bold text-success mt-4">Buscar equipo</h4>
    <p class="ms-1 fs-5">
        Una de las partes principales de la plataforma. A esta sección se accede haciendo en el menú superior o en el inicio. Allí encontraremos dos apartados:
        <br><br>Un formulario para crear una postulación para que sean los equipos los que te busquen a ti. Al rellenar los campos, aparecerás en el apartado “Buscar jugadores” y los equipos que se interesen en ti te enviaran una invitación a su equipo que aparecerá en tu página de notificaciones.
        <br><br>Una lista de todos los equipos que buscan jugadores con una descripción del tipo de jugador que buscan y la posición. Si alguna oferta te llama la atención, simplemente haz clic en el botón de “Solicitar unirme”, y el capitán del equipo recibirá una solicitud, con la que decidir si inscribirte en su equipo o no.
    </p>

    <h4 class="fw-bold text-success mt-4">Buscar jugador</h4>
    <p class="ms-1 fs-5">
        La otra sección importante, buscar jugadores. Al igual que la anterior sección, para acceder a ella tendremos que hacer clic a “Buscar jugadores” en el menú superior o en inicio.
        <br><br>Allí nos encontraremos con una página muy parecida a la de “Buscar equipo”: un formulario para crear tu postulación para que sean los jugadores los que te contacten (te llegará una notificación la cual deberás confirmar o no), y un listado de los jugadores que no tienen equipo. 
    </p>

    <h4 class="fw-bold text-success mt-4">Notificaciones</h4>
    <p class="ms-1 fs-5">En el apartado de notificaciones verás los equipos que quieren que fiches por ellos o los jugadores que quieren fichar por tu equipo. Junto a cada notificación aparecerán dos botones, uno para aceptar y otro para denegar. Si aceptamos una notificación de un equipo, tú como jugador te inscribirás en dicho equipo, y si es de jugador, ese jugador pasará a formar parte de tu equipo.</p>
</div>