<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="height: 450;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/media/carrusel/fifa1.png" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/carrusel/fifa2.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/carrusel/fifa3.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div id="accesosRapidos" class="row w-100 justify-content-around mx-auto px-5 mb-4">
    <div class="col-lg-5 col-sm-11 rounded-5 shadow bg-body p-2 row">
        <h1 class="text-center col-12 mb-1">¿No tienes equipo?</h1>
        <div class="row col-12 mb-0" id="divRaro">
            <div class="col-12 col-sm-4 col-xl-6 d-flex align-items-center py-2">
                <img src="../../assets/media/icons/equipo.png" alt="" class="img-fluid">
            </div>
            <div class="text-end text-break flex-grow-1 col-12 col-sm-8 col-xl-6 pt-3 d-flex align-items-center">
                <p>Aquí podrás encontrar equipos que busquen jugadores como tú, podrás enviar una solicitud para unirte a ellos.<br><br>Si por otro lado, eres de los que les gusta ser buscados, podrás crear una postulación para que sean los equipos los que se peleen por tenerte en su equipo.</p>
            </div>
        </div>
        <a routerLink="/buscarEquipo" class="btn btn-success col-12 text-center mb-1" id="boton">BUSCAR EQUIPO</a>
    </div>


    <div class="col-lg-5 col-sm-11 rounded-5 shadow bg-body p-2 row">
        <h1 class="text-center col-12 p-0 mb-1">¿Necesitas jugadores?</h1>
        <div class="row col-12 mb-0" id="divRaro">
            <div class="text-end text-break flex-grow-1 col-12 col-sm-8 col-xl-6 pt-3 d-flex align-items-center">
                <p>Si eres capitán de un equipo (recuerda que para crearlo debes acceder a tu perfil) y buscas jugadores, este es tu sitio.<br><br>Además, podrás solicitar jugadores y que sean ellos los que te busquen.</p>
            </div>
            <div class="col-12 col-sm-4 col-xl-6 d-flex align-items-center">
                <img src="../../assets/media/icons/jugadores.png" alt="" class="img-fluid">
            </div>
        </div>
        <a routerLink="/buscarJugador" class="btn btn-success col-12 text-center mb-1" id="boton">BUSCAR JUGADOR</a>
    </div>
</div>

<div class="my-5 mx-auto px-5 pt-5">
    <h1 class="text-center fw-bold">¿QUE ES <span class="text-success">COMM ESPORTS</span>?</h1>
    <div class="m-lg-5 px-lg-5">
      <p class="fs-5 px-lg-5"><span class="text-success fw-bold">Comm Esports</span> es una plataforma creada por y para jugadores de Clubes Pro a nivel profesional. Si es cierto que ya contamos en la comunidad con numerosas ligas, pero no contamos con una plataforma que unifique a los jugadores y los equipos. Y para eso nace esta web.
        <br><br>Cuando algún jugador deja su equipo y comienza a buscar uno nuevo, lo primero que hace es poner un tweet en el que pone su recorrido, mencionando a cuentas de twitter de la comunidad para tener más visibilidad. Y lo mismo ocurre con equipos que pretenden buscar jugadores. Es por ello, que aquí no necesitarás contar con ningún "RT", publica lo que buscas, seas equipo o jugador, con los requisitos que pones y el recorrido que llevas; o busca tu mismo tu objetivo.
        <br><br>Como es lógico, también podrás crear tu mismo tu equipo. Desde la sección de perfil, podrás tanto crear como gestionar tu equipo. Si eres el capitán, podrás fichar o expulsar jugadores.
      </p>
    </div>
</div>